.experiencia{
    background: #e0e0e0;

}



.experiencia-container{

    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo{

    color:#969696;
}


.experiencia-texto{
    font-size: 1.25rem;
    line-height: 1.33;
    max-width: 70ch;
    margin-bottom: 60px;
    color: #969696;
}

.experiencia strong{
    color: #525252;
}


.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}


.empresa::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#e4105d,#3c065f);
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-ano{
    position: absolute;
    top: 22px;
    left: -100px;
    text-align: right;
    width: 80px;
    color: #525252;
    font-size: 0.875rem;
}

.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}


.empresa-texto{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.empresa-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades li{
    font-size: 0.875rem  ;
    line-height: 1.4;
    border-radius: 4px;
    background: #fff;
    padding: 5px 10px;
}





/*  ========   MOBILE  ===== */



@media (max-width:  800px){
    .experiencia-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }

    .experiencia-texto{
        font-size: 1.25rem;
    }

    .empresa-ano{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
    .experiencia .subtitulo{
        color: #000;

    }
}
