.sobre{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 100px;
    width: 100%;
    background:#6F39F7;
    color: #c4c4c4;
    
}
.sobre img{
    border-radius: 500px;
    padding: 30px;
}



.local{
    font-size: 1rem;
    line-height: 1.2;
    max-width: 70ch;
    color:#c4c4c4;
    font-weight: 500;
}

.sobre-texto{
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 60ch;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.redes-sociais a{
    display: inline-flex;
    color:#c4c4c4;
    text-decoration: none;
    margin-right: 1.3rem;
    padding: 15px 0;

}


.redes-sociais a:hover{
    color:#E7329E;
}



.btn-sobre{
    display: flex;
    flex-wrap: wrap;
    font-family: "fira sans";
    font-size: 1rem;
    text-transform: uppercase;
    
}


.btn-sobre a{
    position: relative;
    color: #fff;
    background:#3c065f;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 1rem;
    gap: 15px;

    
}

.btn-sobre a:hover{
    background: #E7329E;
    color: #fff;
}

.btn-sobre .bi-cloud-download{
    margin-right: 10px;

}

.btn-sobre .bi-chat-right-dots{
    margin-right: 10px;
}




/*======== MOBILE =======*/



@media (max-width:  800px){
    .sobre{
        grid-template-columns: 1fr;
        gap: 15px;
    
        
    }

    .sobre img{
        width: 240px;
        height: 240px;
        margin: 0 auto;
        
    }
   .sobre-texto{
    font-size: 1.2rem;
    line-height: 1;
    max-width: 60ch;
    margin-top: 10px;
    margin-bottom: 10px;
   }
}  


@media (max-width: 500px){
    .sobre{
        grid-template-columns: 1fr;
        
    }
   .btn-sobre {
       margin: 0 auto;
        display: flex;
        gap: 10px;
   }
   .btn-sobre a{
       justify-content: center;
   }
}
