body {
    font-family: "Fira Sans",Arial, sans-serif;
    margin: 0px;
    gap: 60px;
    background-color: #151515;
}

h1,h2,h3,p{
    margin: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

.subtitulo{
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}


@media ( max-width: 800px) {
    .subtitulo{
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial !important;
    }
}




/*---header---menu---*/


.header{
    background: url(/img/banner.png);
    width: 100%;
    height: 100vh;
}

.header-menu{
    box-sizing: border-box;
    padding:10px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 100%;
    background: #6F39F7;

    
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu a:hover{
    color: #c4c4c4;
}

.menu .contato{
    background: #E7329E;
    color: #fff;
    padding: 5px 10px;
    border-radius: 35px;
    margin-top: 5px;
}

.menu .contato:hover{
    background: #3c065f;
    color: #fff;
}


.menu .contato .bi-telephone-forward{
    margin-right: 10px;
}



@media (max-width : 800px){
    .header {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .header a{
        background: #151515;
        border-radius: 30px;
        color: #fff;
        padding: 5px 10px;
    }
    .header a:hover{
        background: #3c065f;
        color: #fff;
    }
    .header .contato:hover{
        background: #151515;

    }
    .header-menu{
        width: 100%;
        margin: 0 auto;
    }
}


/* ---header---introdução---*/



.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.introducao{

    max-width: 1300px;
    padding: 20px 40px;
    padding-left: 5px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    gap: 100px;
    margin-top: 12rem;
    color: #525252;
    font-family: 'Ubuntu',sans-serif;

    
    
}


.introducao  .max-width{
    margin: auto 0 auto 40px;
}

.introducao .home-content .text-1{
    font-size: 27px;
    color: #969696;
}

.introducao .home-content .text-2{
    font-size: 60px;
    font-weight: 500;
    margin-left: -3px;
    color:#969696;
}

.introducao .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    padding-bottom: 40px;
    color:#969696;
}

.introducao a{
    position: relative;
    color:#fff;
    text-decoration: none;
    padding: 10px 20px;
    gap: 100px;
    background: #6F39F7;
    margin: auto;
    border-radius: 4px;
    margin-right: 1rem;
    margin-bottom: 60px;
   

    
}

.introducao a:hover{
    background:#E7329E;
    color:#fff;
    border-radius:4px solid ;
    border: none;
    padding: 10px 20px;
   
}

.introducao .home-content .text-3  span{
    color:#6F39F7 ;
    margin-left: 10px;
    font-weight: 500;
}

.bi-linkedin{
    margin-right: 10px;
}

.bi-github{
    margin-right: 10px;
}

@media ( max-width: 1000px){
    .introducao h1{
        font-size: 3rem;
    }
}

@media ( max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .introducao h1{
        font-size: 3rem;
    }
}



@media ( max-width: 600px) {
    .introducao {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .introducao h1{
        font-size: 3rem;
}


}



@media (max-width: 400px) {
    .introducao{
        grid-template-columns: 1fr;
    }

    .introducao img{
        display: none;
    }

}


/* ---sobre---*/

.sobre{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 100px;
    width: 100%;
    background:#6F39F7;
    color: #c4c4c4;
    
}
.sobre img{
    border-radius: 500px;
    padding: 30px;
}



.local{
    font-size: 1rem;
    line-height: 1.2;
    max-width: 70ch;
    color:#c4c4c4;
    font-weight: 500;
}

.sobre-texto{
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 60ch;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.sobre .subtitulo{
    max-width: 5ch;
}
.redes-sociais a{
    display: inline-flex;
    color:#c4c4c4;
    text-decoration: none;
    margin-right: 1.3rem;
    padding: 15px 0;

}


.redes-sociais a:hover{
    color:#E7329E;
}



.btn-sobre{
    display: flex;
    flex-wrap: wrap;
    font-family: "fira sans";
    font-size: 1rem;
    text-transform: uppercase;
    
}


.btn-sobre a{
    position: relative;
    color: #fff;
    background:#3c065f;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-right: 1rem;
    gap: 15px;

    
}

.btn-sobre a:hover{
    background: #E7329E;
    color: #fff;
}

.btn-sobre .bi-cloud-download{
    margin-right: 10px;

}

.btn-sobre .bi-chat-right-dots{
    margin-right: 10px;
}

@media (max-width:  800px){
    .sobre{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .sobre .subtitulo{
        color: #141414;
    }
}   


/*
.skills-container{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 100px;
    width: 100%;
    background:#e0e0e0;
    color: #c4c4c4;
    
}

.skills-texto{
    font-size: 1.25rem;
    line-height: 1.33;
    max-width: 70ch;
    margin-bottom: 60px;
    color: #525252;
}

.habilidades h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top:40px;
    margin-bottom: 5px;
    color: #8e8e8e;
    font-size: 1rem;
}

.progress-bar{
    background: #fff;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div{
    height: 10px;
    border-radius: 5px;
    width: 50%;
    background: #141414;

}


.progress-bar div span{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #6c4fc5;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


*/


.experiencia{
    background: #e0e0e0;

}



.experiencia-container{

    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo{

    color:#969696;
}


.experiencia-texto{
    font-size: 1.25rem;
    line-height: 1.33;
    max-width: 70ch;
    margin-bottom: 60px;
    color: #969696;
}

.experiencia strong{
    color: #525252;
}


.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    background: #f5f5f5;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}


.empresa::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#e4105d,#3c065f);
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-ano{
    position: absolute;
    top: 22px;
    left: -100px;
    text-align: right;
    width: 80px;
    color: #525252;
    font-size: 0.875rem;
}

.empresa-titulo{
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}


.empresa-texto{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.empresa-habilidades{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: start;
}

.empresa-habilidades li{
    font-size: 0.875rem  ;
    line-height: 1.4;
    border-radius: 4px;
    background: #fff;
    padding: 5px 10px;
}


@media (max-width:  800px){
    .experiencia{
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .experiencia-texto{
        font-size: 1.25rem;
    }

    .empresa-ano{
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}

.formacao{
    background: #141414;
}



.formacao-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}


.formacao .subtitulo{
    color: #000;
}


.formacao-texto{
    font-size: 1.25rem;
    line-height: 1.33;
    max-width: 70ch;
    margin-bottom: 60px;
    color: #a3a3a3;
}

.formacao-texto strong{
    color: #fff;
}


.formacao-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
    color: #fff;
}

.graduacao{
    flex: 10;
    background: #000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}


.graduacao-tipo{
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}


.graduacao-curso{
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position: relative;
}

.graduacao-curso::before{
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#e4105d,#3c065f);
    position: absolute;
    left: -24px;
}


.cursos{
    margin-bottom: 60px;
}



.formacao-extra{
    color: #fff;
}

.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color: #8f8f8f;
    text-transform: uppercase;
    margin-bottom: 30px;

}


.formacao-extra li{
    font-size: 1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;

}


.formacao-extra span{
    color: #8f8f8f;
}


.cursos li{
    display: flex;
    justify-content: space-between;
}



@media (max-width: 800px){
    .formacao-container{
        grid-template-columns: 1fr;
        padding: 60px 20px;
        gap: 40px;
    }
    .formacao .subtitulo{
        color: #fff;

    }
    .formacao-texto{
        font-size: 1.25rem;
    }
}


.footer{
    background: #000;
}


.footer-container{
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}


.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;

}


.footer-contato{
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.1;
    color: #ffff;
   
}
.footer-contato li{
    margin-bottom: 30px;
    
}
.footer-contato a{
    text-decoration: none;
    color: #ffff;
   
}

.footer-copy{
    grid-column: 1,-1;
    font-size: 1.125rem;
    color: #8f8f8f;
}


@media (max-width: 800px) {
    .footer-container{
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .footer-contato{
        font-size: 1.5rem;
    }
}